.category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px; /* Füge Abstand zwischen den Buttons hinzu */
}

.category-box {
  margin: 5px; /* Füge Abstand zwischen den Boxen hinzu */
  background-color: #007bff;
  border-radius: 30px;
  padding: 20px;
  &:hover {
      background-color: #0056b3;
  }
}

button {
  height: 40px;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px; /* Füge Abstand zwischen den Buttons hinzu */

  &:hover {
      background-color: #0056b3;
  }
}

a {
  color: white;
  text-decoration: none;
}

input {
  height: 45px;
  width: 200px;
  border-radius: 25px;
  font-size: 15px;
  padding-left: 15px;
}