$primary-color: #3498db;
$custom-color: #f2ffe9;
$special-color: #a6cf98;

div {
  h1 {
    color: $primary-color;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: white;
      color: black;
    }

    tr:first-child {
      background-color: white;
    }

    tr:hover {
      background-color: #f5f5f5;
    }

    td#fak-5, td#fak-6, td#paket-1, td#paket-2, td#paket-3, td#paket-4 {
      background-color: $special-color;

      &.copied {
        position: relative;

        &::after {
          content: 'Kopiert!';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: green;
          color: white;
          padding: 4px 8px;
          border-radius: 4px;
          font-size: 12px;
        }
      }
    }

    td:last-child {
      color: black;
      background-color: $custom-color;

      &.copied {
        position: relative;

        &::after {
          content: 'Kopiert!';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: green;
          color: white;
          padding: 4px 8px;
          border-radius: 4px;
          font-size: 12px;
        }
      }
    }
  }

  .pakete-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
      vertical-align: middle;
      color: black;
      background-color: white !important;
    }
  
    th {
      background-color: $primary-color;
      color: black;
    }

    td#fak-6:last-child, td#paket-4:last-child {
      background-color: white;

      &.copied {
        position: relative;

        &::after {
          content: 'Kopiert!';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: green;
          color: white;
          padding: 4px 8px;
          border-radius: 4px;
          font-size: 12px;
        }
      }
    }
  }
}
